@charset "UTF-8";

/*
	body : 바깥여백 10%
	
	fieldset : 좌우아래 테두리는 none 위 테두리는 dashed
			  위 테두리 색상(#ab47bc)
			  너비(65%)
			  높이(180px)
			  바깥여백(상하:30px, 좌우:auto)
			  안쪽여백(15px)
			  글씨정렬(center)
			  폰트적용
	
	textarea : 너비(70%)
			  테두리(0)
			 resize(none) : 사이즈 조절 불가
			 outline(none) : 클릭시 테두리 삭제
			  글자 가운데 정렬
			  바깥여백(20px)
			  폰트 적용
	
	
	input : 글자 가운데 정렬
			폰트 적용
			너비(70%)
			outline(none) : 클릭시 테두리 삭제
			위, 좌, 우 테두리(none)
			아래 테두리(solid)
			테두리 너비(5px)
			
			
	button : 가운데 정렬
			너비(20%)
			폰트 적용
			글자색상(#fff)
			배경색(#ab47bc)	
*/
body {
	margin:10%;
}

fieldset{
	border-top-style:dashed;
	border-bottom-style:none;
	border-left-style:none;
	border-right-style:none;
	border-width:10px;
	border-top-color:#ab47bc;
	width:65%;
	height:180px;
	margin:30px auto;
	padding:15px;
	text-align:center;
	font-family: 'Black Han Sans';
	font-size:3em;
}

textarea{
	width:70%;
	border:0;
	resize:none;
	outline:none;
	text-align:center;
	margin:20px;
	font-family: 'Jua';
	font-size:27px;
}

input{
	text-align:center;
	font-family: 'Jua';
	font-size:30px;
	width:70%;
	outline:none;
	border-top-style:none;
	border-bottom-style:solid;
	border-left-style:none;
	border-right-style:none;
	border-width:5px;
}

button{
	margin:0 auto;
	width:20%;
	font-family: 'Black Han Sans';
	font-size:1em;
	color:#fff;
	background:#ab47bc;
}











